# Created by venv; see https://docs.python.org/3/library/venv.html
cat << 'EOF' > .gitignore
venv/
__pycache__/
*.pyc
EOF
data/greater-london.osm.pbf
data/greater-london-roads.graphml
data/greater-london.osm.xml